.footer{
  margin-top : 20px;
  border-top: solid 7px #cbdbd2;
}
.footsocial{
  margin-top: 15px;
  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.footerPages{
  margin-top: 30px;
  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
}
.footer-item{
  padding: 0 10px;
  color:#474645;
}
.foot-icon{
  color: #474645;
  margin-right: 20px;
  padding: 0 10px;
}
.foot-icon:hover{
  color:#0bb791;
  text-decoration: none;
}
.footer-item:hover{
  color:#0bb791;
text-decoration: none;
}
