/* NAVBAR */

.navCat{
  color: #474645;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 20px;
}
.navCat:hover{
  color: #0bb791! important;
}
.iconnav{
  background: transparent;
  border: none;
}
.bordernav{
  border-bottom: #474645 solid 1px;
}
.iconnav:hover{
  color: #0bb791! important;
}
