.write-us-form {
  display: none;
  width: 396px;
/*   margin: 0 0 0 -315px; */
  padding: 17px 85px;
  background: #cbdbd2;
  box-shadow: 0 20px 40px 0 rgba(0,1,1,0.75);
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 1000;
}

.write-us-form-close {
  display: block;
  width: 29px;
  height: 24px;
  background: #cbdbd2;
  /*! border-radius: 50%; */
  position: absolute;
  right: 5px;
  top: 5px;
}

.login-popup-show {
  display: block;
}

.write-us-form-close::after,
.write-us-form-close::before {
  content: '';
  width: 26px;
  height: 6px;
  margin: -3px 0 0 -13px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
}

.write-us-form-close::after {
  transform: rotate(45deg);
}

.write-us-form-close::before {
  transform: rotate(-45deg);
}

.write-us-form .name,
.write-us-form .email {
  width: 220px;
  margin: 0 20px 0 0;
  float: left;
}

.write-us-form .email {
  margin: 0;
}

.write-us-form fieldset {
  font-size: 0;
  border: none;
  padding: 0;
  margin: 0;
}

.write-us-form label {
  display: block;
  margin: 0 0 10px;
  font: 500 16px/1.13 Roboto, sans-serif;
}

.write-us-form input[type=text],
.write-us-form input[type=email],
.write-us-form textarea {
  width: 100%;
  margin: 0;
  padding: 8px 10px;
  border: 2px solid #d7dcde;
  outline: 0;
  border-radius: 3px;
  box-sizing: border-box;
  font: 500 12px/1.5 Roboto, sans-serif;
  text-transform: uppercase;
}

.write-us-form .free-text {
  margin: 0 0 50px;
  padding: 20px 0 0;
  clear: both;
}

.write-us-form textarea {
  color: #000;
  text-decoration: none;
}

.write-us-form textarea {
  display: block;
  min-height: 115px;
  resize: none;
}

.input-buttons input[type=reset] {
  margin: 0;
  background: #f1f1f1;
  color: #000;
}

.input-buttons [type=submit],
.input-buttons [type=reset] {
  display: block;
  width: 220px;
  margin: 0 20px 0 0;
  padding: 9px 0;
  background: #fb565a;
  border: none;
  outline: 0;
  border-radius: 3px;
  float: left;
  font: 500 12px/1.5 Roboto, sans-serif;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
