/* Pagina de Registro, Login y Perfil*/
.regformulario{
    background-color: #cbdbd2;
    padding-bottom: 20px;
    padding-top:20px;
}
.regcolumna{
    background-color: whitesmoke;
    border-right: solid white 20px;
    padding-top:20px;
    padding-bottom: 20px;
}
.regcolumna2{
    background-color: whitesmoke;
    border-left: solid white 20px;
    padding-top:20px;
    padding-bottom: 20px;
}
.regh1{
    font-size: 18px;
    color: #474645   ;
    font-family: 'Lato', sans-serif;
    width:100%;
    text-align: right;
    text-transform: uppercase;
    border-bottom: solid 1px #cbdbd2;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.regtitulo{
    font-size: 22px;
    color: #474645;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.regboton{
    background-color:#ABB2B9 ;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.regtitulo2{
    font-size: 22px;
    color: #474645  ;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
 input:hover{
    border: black 1px solid;
} 
.regimg{
    width: 100%;
    margin-top: 10px;
}
.regTextoImagen{
    text-align: center,
}
.regSubirAvatar{
    margin-top: 10px;
    margin-bottom: 15px;
    width:50%;
}
.regboton:hover{
    background-color: white ;
    color: #0bb791;
}
/* FAQ */
.banner1{
    background-image: url(../img/soap_0053.jpg);
    height: 40vh;
    background-size: cover;
    text-align: center;
    padding: 80px;
    background-position: center;
    width: 100%;
    margin-bottom: 50px;
  }
  .titulocursiva{
    font-family: 'Pinyon Script', cursive;
    font-weight: 400px;
    font-size: 60px;
    color: #0bb791;
    z-index: 2;
  }
  .tituloppal{
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    margin-top: -30px;
    color: white;
  }
  .faqpreg{
    font-size: 18px;
    color: #474645;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .faqpreg:hover{
    color: #0bb791;
    text-decoration: none;
  }
.faqresp{
        font-size: 18px;
        color: #0bb791;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
      }
/* hay qye hacer media query para que el titulo ppal y el titulo en cursiva no se muestren en mobile */
/* hay que hacer media query para que la foto del jabon de registro no se muestre en moblile */
